#avatar{
    width: 25%;
    height: 25%;
    border-radius: 50%;
    /* overflow: auto; */
    /* object-fit: contain; */
    margin:0;
    padding:0;
}


/* #avatarbox{
position: relative;
}

#avatarbadge {
position: absolute;
bottom: 1px;
right: 1px;
} */

.jumbotron {
background-color:#7153fa;
width: auto;
}

.myicon{
color: rgb(145, 145, 39);
background-color: rgb(210, 210, 123);
border: none;
}